@import '../../index.scss';

.BtnMega{
    border-radius: 10px;
    margin-top: 10px;
    background-color: $cinza-claro;
  }
   
  .Day {
    background-image: url(../../img/sun2.png) !important
  }
  
  .Night {
    background-image: url(../../img/night.png) !important
  }
  
  .BrokenClouds {
    background-image: url(../../img/broken-clouds.png) !important
  }
  
  .BrokenCloudsN {
    background-image: url(../../img/broken-clouds-n.png) !important
  }
  
  .ScatteredClouds {
    background-image: url(../../img/scattered-clouds.png) !important
  }
  
  .ScatteredCloudsN {
    background-image: url(../../img/scattered-clouds-n.png) !important
  }
  
  .Rain {
    background-image: url(../../img/rain.png) !important
  }
  
  .RainN {
    background-image: url(../../img/rain-n.png) !important
  }
  
  .ClearSky {
    background-image: url(../../img/clear-sky.png) !important
  }
  
  .ClearSkyN {
    background-image: url(../../img/clear-sky-n.png) !important
  }
  
  .FewClouds {
    background-image: url(../../img/few-clouds.png) !important
  }
  
  .FewCloudsN {
    background-image: url(../../img/few-clouds-n.png) !important
  }
  
  .Thunderstorm {
    background-image: url(../../img/thunderstorm.png) !important
  }
  
  .ThunderstormN {
    background-image: url(../../img/thunderstorm.png) !important
  }
  
  .Snow {
    background-image: url(../../img/snow.png) !important
  }
  
  .SnowN {
    background-image: url(../../img/snow-n.png) !important
  }
  
  .Mist {
    background-image: url(../../img/mist.png) !important
  }
  
  .MistN {
    background-image: url(../../img/mist-n.png) !important
  }
  
  header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    color: $branco;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  