@media (max-width: 500px) { 
    input{
      max-width: 250px;
    }  
    .Container > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Main {
      height: 50vh !important;
    }
    .Info {
      justify-content: space-around !important;
    }
  }

.Main {
    background-color: #e2e2e2;
    height: 70vh;
    padding-top: 50px;
  }
  
  .Container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Location p {
    font-size: 2rem;
    margin-right: 10px;
  }
  
  .Location + p {
    animation: fadeIn 5s;
  }
  
  .Location {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap;
    animation: fadeIn 5s;
    font-size: 1rem;
  }
  
  .Location + p:first-letter {
    text-transform: capitalize;
  }
  
  .Info {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .Info > p {
    font-size: 4rem;
    font-weight: 500;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  