@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'
}

.BtnMega{
  border-radius: 10px;
  margin-top: 10px;
  background-color: #e2e2e2;
}

.Rain {
  background-image: url(./img/rain.png) !important;
}

header {
  background-image: url(./img/sun2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 15px;
}

input {
  border: none;
  width: 350px;
  padding: 15px 0;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  font-size: 1.5rem;
  text-indent: 15px
}

button {
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding: 15px;
  font-size: 1.5rem;
}

.Main {
  background-color: #e2e2e2;
  height: 70vh;
  padding-top: 50px;
}

.Container {
  max-width: 1200px;
  margin: 0 auto;
}

.Location p {
  font-size: 2rem;
  margin-right: 10px;
}

.Location + p {
  animation: fadeIn 5s;
}

.Location {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
  animation: fadeIn 5s;
  font-size: 1rem;
}

.Location + p:first-letter {
  text-transform: capitalize;
}

.Date {
  font-size: 1.5rem;
}

.Info {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Info > p {
  font-size: 4rem;
  font-weight: 500;
  animation: fadeIn 5s;
}

.MoreInfo {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 80px;
  border-radius: 10px;
  font-weight: 500;
  flex-wrap: wrap;
  animation: fadeIn 5s;
}

.MoreInfo div p:first-child {
  font-size: 4rem;
}

.MoreInfo div p:last-child { 
  font-size: 0.9rem;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}