@import '../../index.scss';

.BtnMega{
    border-radius: 10px;
    margin-top: 10px;
    background-color: $cinza-claro;
  }
    
input {
    border: none;
    width: 350px;
    padding: 15px 0;
    border-radius: 10px 0px 0px 10px;
    background-color: $cinza-claro-intermediario;
    outline: none;
    font-size: 1.5rem;
    text-indent: 15px;
    @include device(500px) {
      max-width: 250px;
    }
  }
  
  input:focus {
    outline: none;
    box-shadow: none;
  }

  button {
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: $cinza-claro-intermediario;
    cursor: pointer;
    padding: 15px;
    font-size: 1.5rem;
  }